@{
    ViewData["Title"] = "Our Support Links";
}

@section AddToHead {

    <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/NewFolder2/ministers/style.css">


}

@section AddToEnd {
    <script src="~/NewFolder2/plugins/masonry/images_loaded.js"></script>
    <script src="~/NewFolder2/js/custom.js"></script>
}

<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url('/NewFolder2/new/couple-holding-hands-over-table-4046987 (1).jpg'); margin-top: 20px" data-aos="fade" data-stellar-background-ratio="0.5" data-aos="fade">
    @*<div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7 text-center" data-aos="fade-up" data-aos-delay="400" style="margin-top:67px">
                    <h2 class="support_head">Meet Our Support Links.</h2>
                    <h3>Do you need counselling/prayer?</h3>
                    <br />
                    <p><a href="~/Support/Message_form" class="btn btn-primary px-5 py-3">Send Us a Message</a></p>
                </div>
            </div>
        </div>*@
</div>


<div class="site-section">


    @{
        switch (ViewData["Id"])
        {
            case 1:
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 text-center">
                            <img src="~/NewFolder2/ministers/Omisore.jpg" alt="Image" class="img-fluid">
                        </div>
                        <div class="col-lg-8">
                            <div class="site-section-heading text-center mb-5 w-border">
                                <h2 class="mb-5" style="color:black">Dr. & Dr. MRS A.G OMISORE</h2>
                                <p style="line-height: 1.7; color:rgba(0,0,0,0.8)">Doctors Bridget and Akin OMISORE are born – again Christians whom the Lord brought together about two decades ago and are being used of God as shining lights to guide others in their relationships. They had the privilege of passing through pre-marital counseling under the guidance of seasoned Marriage counselors/ ministers – Mr.and Mrs. S.Y Osewa. They have been advocates of sound pre - marital counseling themselves. They are marriage counselors/ ministers who worship at the Chapel of Grace, OAUTHC, Ile - Ife and minister in this capacity within and outside of Osun State on a fairly regular basis. They not only believe in the permanence of marriage, but also that marriages can be a “heaven on earth experience” provided that couples are ready to work at it.Their philosophy of marriage is “together we stand”, in order words – “divided we fall”, hence they seek to encourage every couple to seek to walk and work in togetherness, irrespective of obvious differences in their backgrounds and innate characteristics.They have published a book(Marital Gems) while others are in the pipeline. They are both Medical Doctors; Bridget is a Family Physician, while Akin is a Community / Public Health Physician. They are blessed with three lovely children; Pelumi, Shalom and David.</p>
                                <p style="margin-top:41px"><a href="~/Support/Index" class="read_more_btn">Go Back</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                break;
            case 2:
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 text-center">
                            <img src="~/NewFolder2/ministers/ganiyu.jpg" alt="Image" class="img-fluid">
                        </div>
                        <div class="col-lg-8">
                            <div class="site-section-heading text-center mb-5 w-border">
                                <h2 class="mb-5" style="color:black">OLUWATOFUNMI KEHINDE GANIYU</h2>
                                <p style="line-height: 1.7; color:rgba(0,0,0,0.8)">Oluwatofunmi Kehinde GANIYU is a marriage and relationship enthusiast who desires that all youths find their life’s purposes and have fulfilling marital lives. She is passionate about the things of God and impacting the younger generation with values appropriate to sustain them for God in this pervert world. She gave her life to Jesus in 2008 and has since been an asset in God’s hands.</p>
                                <p style="line-height: 1.7; color:rgba(0,0,0,0.8)">Oluwatofunmi bagged B.A ED in English from Obafemi Awolowo University, Ile-Ife, Nigeria. She is a transformational teacher -leader and a certified educator with diverse professional training opportunities with organizations such as the British Council. She is the convener of the "Cloth a Child" initiative; an initiative focused on clothing impoverished pupils in low income schools with good and decent school uniforms. She's presently a Teach for Nigeria Fellow, serving in Ogun State, Nigeria. </p>
                                <p style="line-height: 1.7; color:rgba(0,0,0,0.8)">Oluwatofunmi is happily married to her God given husband, Oluwadamilare Ganiyu and their evolving young family is blessed with an adorable daughter.</p>
                                <p style="margin-top:41px"><a href="~/Support/Index" class="read_more_btn">Go Back</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                break;
            case 3:
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 text-center">
                            <img src="~/NewFolder2/ministers/Faleye.jpg" alt="Image" class="img-fluid">
                        </div>
                        <div class="col-lg-8">
                            <div class="site-section-heading text-center mb-5 w-border">
                                <h2 class="mb-5" style="color:black">PROPHET IYIOLA FOLORUNSO FALEYE</h2>
                                <p style="line-height: 1.7; color:rgba(0,0,0,0.8)">Prophet Iyiola Folorunso FALEYE is the founder and President of Living Word Evangelical and Prophetic Prayer Ministry (a.k.a Asoromaye Prayer City) Ile -Ife, Osun State, Nigeria. Following a divine encounter with the Lord in the year 1997, he was commissioned into evangelism and prayer ministry.</p>
                                <p style="line-height: 1.7; color:rgba(0,0,0,0.8)">Iyiola Faleye is a devoted evangelist and a prophet of God with burning passion for intercession. Besides leading many intercessory groups, he served as the Prayer coordinator at the Chapel Grace, OAUTHC, Ile-Ife and was later ordained as a Pastor in the ministry. Thereafter, he received divine calling to establish the Asoromaye Prayer City. By God’s grace, the ministry has been a major tool in God’s hands in reaching out to many communities in form of evangelistic outreaches, deliverance programs, healthcare missions, women empowerment and diverse aids for disadvantaged school children. </p>
                                <p style="line-height: 1.7; color:rgba(0,0,0,0.8)">He is a retired nurse practitioner who rose to the position of Chief Nursing Officer with Osun State Hospitals Management Board. He is happily married to Mrs Charlotte Olatorera FALEYE, a retired Chief Matron and their union is blessed with great children.</p>
                                <p style="margin-top:41px"><a href="~/Support/Index" class="read_more_btn">Go Back</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                break;
            case 4:
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 text-center">
                            <img src="~/NewFolder2/ministers/Oyinloye.jpg" alt="Image" class="img-fluid">
                        </div>
                        <div class="col-lg-8">
                            <div class="site-section-heading text-center mb-5 w-border">
                                <h2 class="mb-5" style="color:black">
                                    REV. ADESOLA OYINLOYE
                                </h2>
                                <p style="line-height: 1.7; color:rgba(0,0,0,0.8)">Rev. Adesola OYINLOYE is the co-founder of The Resurrection Power Ministries International, based in Ile-Ife, Nigeria. She met the Lord about 39 years ago and by the grace of God, she has served in various capacities within the body of Christ. She is very passionate about happy homes. </p>
                                <p style="line-height: 1.7; color:rgba(0,0,0,0.8)">Mrs. Oyinloye trained as a nurse at the University College Hospital, Ibadan and worked at the OAUTHC, Ile-Ife. Although a seasoned midwife and renal nurse, she primarily sees herself as a Christian (Christ’s representative), above everything else. She retired from civil service in 2005 when she went into full time ministry work, according to the call of God upon her. </p>
                                <p style="line-height: 1.7; color:rgba(0,0,0,0.8)">She is married to Rev. Rotimi Oyinloye and blessed with sons who are also serving in God's vineyards today. With the help of God and a very supportive family, she has found it easy to combine her roles as a wife, mother, professional and a minister of the gospel.</p>
                                <p style="margin-top:41px"><a href="~/Support/Index" class="read_more_btn">Go Back</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                break;
            case 5:
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 text-center">
                            <img src="~/NewFolder2/ministers/Adewoyin.jpg" alt="Image" class="img-fluid">
                        </div>
                        <div class="col-lg-8">
                            <div class="site-section-heading text-center mb-5 w-border">
                                <h2 class="mb-5" style="color:black">OYENIKE ADEWOYIN</h2>
                                <p style="line-height: 1.7; color:rgba(0,0,0,0.8)">Oyenike ADEWOYIN is a daughter of the Most High God. She is a nurse by profession, a teacher who practically impacts the Word with simplicity; and a seasoned counselor through the instrumentality of the Holy Spirit.</p>
                                <p style="line-height: 1.7; color:rgba(0,0,0,0.8)">She's the visioner of the Grace Family Network (aka M.R.S. – Marriage, Relationship and Sexuality), a non- denominational group for married and matured singles centered towards healthy sexuality and enhancing intimacy in marriage. Through this ministry, God continues to use her to help and shape destinies, homes and marriages globally.</p>
                                <p style="line-height: 1.7; color:rgba(0,0,0,0.8)">She is happily married to Adeleke ADEWOYIN and a biological mother of two.</p>
                                <p style="margin-top:41px"><a href="~/Support/Index" class="read_more_btn">Go Back</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                break;
            case 6:
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 text-center">
                            <img src="~/NewFolder2/ministers/Orioke.jpg" alt="Image" class="img-fluid">
                        </div>
                        <div class="col-lg-8">
                            <div class="site-section-heading text-center mb-5 w-border">
                                <h2 class="mb-5" style="color:black">PASTOR (DR.) SAMUEL ODUNLAMI ORIOKE</h2>
                                <p style="line-height: 1.7; color:rgba(0,0,0,0.8)">Pastor (Dr.) Samuel Odunlami ORIOKE is the General Overseer of Christ Way Ministry International, headquartered in Ile-Ife, Nigeria. Besides being an elder statesman in the society, Dr. Odun Orioke is also a mentor to many Christian ministries, fellowships and families across many divides. He is a veteran counselor with limitless passion for working marriages, and a peaceable conflict mediator. He is very passionate about each person fulfilling destiny in totality (“iye lopo lopo – abundant life). </p>
                                <p style="line-height: 1.7; color:rgba(0,0,0,0.8)">He trained as a medical doctor at the University of Ibadan. He is the proprietor of the then Fountain of Life Hospital, Ile-Ife while he also worked at the Obafemi Awolowo University until he was called into full time ministry about  2 decades ago. He is a co-proprietor of The Ambassador’s College, Ile-Ife. He is also a seasoned administrator and entrepreneur. </p>
                                <p style="line-height: 1.7; color:rgba(0,0,0,0.8)">He has been married to Pastor Oladunni ORIOKE for more than four decades and their union is blessed in all ramifications. </p>

                                <p style="margin-top:41px"><a href="~/Support/Index" class="read_more_btn">Go Back</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                break;
            case 7:
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 text-center">
                            <img src="~/NewFolder2/ministers" alt="Image" class="img-fluid">
                        </div>
                        <div class="col-lg-8">
                            <div class="site-section-heading text-center mb-5 w-border">
                                <h2 class="mb-5" style="color:black">ELIJAH OLUWAMAYOWA & OLUWAFEYIKEMI EUNICE POPOOLA</h2>
                                <p style="line-height: 1.7; color:rgba(0,0,0,0.8)">Elijah Oluwamayowa & Oluwafeyikemi Eunice POPOOLA are children of God who are products of Grace. They both became Christians early in their respective lives and have seen God’s grace nurse their faith. They both pastor a growing parish of the Foursquare Church while Mayowa also serves as the State Youth Pastor in the same ministry. </p>
                                <p style="line-height: 1.7; color:rgba(0,0,0,0.8)">They are teachers of God’s word who love to see its transforming powers at work in the lives of children, teens and young adults. They apply God and His Word as the essence of all human endeavours particularly in the church, respective careers, relationships and in the home. Mayowa is an Administrator at the Obafemi Awolowo University, Ile-Ife where they both graduate from, and Nurse Feyikemi currently works as a lecturer at the Osun State University, Osogbo. </p>
                                <p style="line-height: 1.7; color:rgba(0,0,0,0.8)">They have been joyfully married for about a decade in a union that is ceaselessly blessed by God. They love fellowship, mentoring, worship and travelling.</p>

                                <p style="margin-top:41px"><a href="~/Support/Index" class="read_more_btn">Go Back</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                break;
            case 8:
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 text-center">
                            <img src="~/NewFolder2/ministers/Fatusi.jpg" alt="Image" class="img-fluid">
                        </div>
                        <div class="col-lg-8">
                            <div class="site-section-heading text-center mb-5 w-border">
                                <h2 class="mb-5" style="color:black">PROFESSORS ADESEGUN AND OLAWUNMI FATUSI</h2>
                                <p style="line-height: 1.7; color:rgba(0,0,0,0.8)">Professors Adesegun and Olawunmi FATUSI are two Christian friends who have been God’s agents of light in countless quarters. Professor Adesegun Fatusi  met the Lord in his medical school days at the Obafemi Awolowo University, Ile-Ife, Nigeria while Professor Olawunmi Fatusi met the Lord in her secondary school days . Besides being ministers at the Chapel of Grace, OAUTHC, Ile-Ife, they are involved in many Kingdom works and across diverse divides. They are very passionate about excelling marital lives and their “Grace-ordained” ministry, career and societal positions have been outlets for them to reach out to and mentor many ministries, fellowships, professionals and families. </p>
                                <p style="line-height: 1.7; color:rgba(0,0,0,0.8)">Pastor Adesegun is a Professor of Community Medicine and Public Health, currently the Vice Chancellor of the University of Medicine, Ondo while Deaconess Olawunmi is a Professor of Oral and Maxillofacial Surgery at the Obafemi Awolowo University, Ile-Ife. Despite being academic veterans with diverse records, they remain committed to societal charitable programs aimed at raising and aiding young champions and families.  </p>
                                <p style="line-height: 1.7; color:rgba(0,0,0,0.8)">They have been married for almost Three (3) decades and their home is indescribably blessed.</p>

                                <p style="margin-top:41px"><a href="~/Support/Index" class="read_more_btn">Go Back</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                break;
        }
    }
</div>
               


    <style>
        .read_more_btn:hover {
            background: white;
            border: 1px solid darkred;
            color: darkred;
        }

        .site-section-heading {
            padding: 0px 80px;
        }
    </style>

