@{
    ViewData["Title"] = "Our Support Links";
}

@section AddToHead {

    <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/NewFolder2/ministers/style.css">


}

@section AddToEnd {
    <script src="~/NewFolder2/plugins/masonry/images_loaded.js"></script>
    <script src="~/NewFolder2/js/custom.js"></script>
}

<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url('/NewFolder2/new/simon-maage-tXiMrX3Gc-g-unsplash.jpg'); margin-top: 20px" data-aos="fade" data-stellar-background-ratio="0.5" data-aos="fade">
    @*<div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7 text-center" data-aos="fade-up" data-aos-delay="400" style="margin-top:67px">
                    <h2 class="support_head">Meet Our Support Links.</h2>
                    <h3>Do you need counselling/prayer?</h3>
                    <br />
                    <p><a href="~/Support/Message_form" class="btn btn-primary px-5 py-3">Send Us a Message</a></p>
                </div>
            </div>
        </div>*@
</div>


<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="images/img_1.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-8">
                <div class="site-section-heading text-center mb-5 w-border" >
                    <h2 class="mb-5" style="color:black">Dr. & Dr. MRS A.G OMISORE</h2>
                    <p style="line-height: 1.7; color:rgba(0,0,0,0.8)">
                        Doctors Bridget and Akin OMISORE are born – again Christians whom the Lord brought together about two decades ago and are being used of God as shining lights to guide others in their relationships. They had the privilege of passing through pre-marital counseling under the guidance of seasoned Marriage counselors/ministers – Mr. and Mrs. S.Y Osewa. They have been advocates of sound pre-marital counseling themselves. They are marriage counselors/ministers who worship at the Chapel of Grace, OAUTHC, Ile-Ife and minister in this capacity within and outside of Osun State on a fairly regular basis. They not only believe in the permanence of marriage, but also that marriages can be a “heaven on earth experience” provided that couples are ready to work at it. Their philosophy of marriage is “together we stand”, in order words – “divided we fall”, hence they seek to encourage every couple to seek to walk and work in togetherness, irrespective of obvious differences in their backgrounds and innate characteristics. They have published a book (Marital Gems) while others are in the pipeline.
                        They are both Medical Doctors; Bridget is a Family Physician, while Akin is a Community/Public Health Physician. They are blessed with three lovely children; Pelumi, Shalom and David.
                    <p style="margin-top:41px"><a href="~/Support/Index" class="read_more_btn">Go Back</a></p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .read_more_btn:hover{
        background:white;
        border: 1px solid darkred;
        color: darkred;
    }
    .site-section-heading{
        padding: 80px;
    }
</style>

