@{
    ViewData["Title"] = "Our Support Links";
}

@section AddToHead {

    <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/NewFolder2/ministers/style.css">
    

}

@section AddToEnd {
    <script src="~/NewFolder2/plugins/masonry/images_loaded.js"></script>
    <script src="~/NewFolder2/js/custom.js"></script>
}

<div class="site-blocks-cover inner-page-cover" style="background-image: url('/NewFolder2/new/couple-holding-hands-over-table-4046987 (1).jpg'); margin-top:20px" data-aos="fade" data-stellar-background-ratio="0.5" data-aos="fade">
    <div class="container">
        <div class="row align-items-center justify-content-center" >
            <div class="col-md-7 text-block text-center" data-aos="fade-up" data-aos-delay="400" style="margin-top:67px">
                <h2 class="support_head" style="color:#f2ba16; font-weight:300">Meet Our Support Links.</h2>
            </div>
        </div>
    </div>
</div>

<div class="team_div">
    <!-- Team -->
    <section id="team" class="pb-5 containee">
        <div class="container site overlay" >
            <div class="row ministers">
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body  text-center">
                                        <p><img class=" img-fluid" src="/NewFolder2/ministers/Omisore.jpg" alt="card image"></p>
                                        <h4 class="card-title">Dr. & Dr. Mrs A.G Omisore</h4>
                                        <p class="card-text">Physicians and marriage counselors. </p>
                                        <a href="#" class="btn btn-sm button"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Dr. & Dr. Mrs A.G Omisore</h4>
                                        <p class="card-text">Doctors Bridget and Akin OMISORE are born – again Christians whom the Lord brought together about two decades ago and are being used of God as shining lights to guide others in their relationships. They had the privilege of passing through pre-marital counseling.....</p>
                                        <p><a href="~/Support/Bio/1" class="read_more_btn">Read More</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="~/NewFolder2/ministers/Faleye2.jpeg" alt="card image"></p>
                                        <h4 class="card-title">Prophet Iyiola Folorunsho Faleye</h4>
                                        <p class="card-text">Retired nurse, Pastor, intercessor and counselor. </p>
                                        <a href="#" class="btn btn-sm button"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Prophet Iyiola Folorunsho Faleye</h4>
                                        <p class="card-text line-clamp">Prophet Iyiola Folorunso FALEYE is the founder and President of Living Word Evangelical and Prophetic Prayer Ministry (a.k.a Asoromaye Prayer City) Ile -Ife, Osun State, Nigeria. Following a divine encounter with the Lord in the year 1997, he was commissioned into evangelism and prayer ministry.</p>
                                        <p><a href="~/Support/Bio/3" class="read_more_btn">Read More</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="~/NewFolder2/ministers/ganiyu.jpg" alt="card image"></p>
                                        <h4 class="card-title">Oluwatofunmi Kehinde Ganiyu</h4>
                                        <p class="card-text">Teacher and relationship enthusiast.</p>
                                        <a href="#" class="btn btn-sm button"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Oluwatofunmi Kehinde Ganiyu</h4>
                                        <p class="card-text line-clamp">
                                            Oluwatofunmi Kehinde GANIYU is a marriage and relationship enthusiast who desires that all youths find their life’s purposes and have fulfilling marital lives. She is passionate about the things of God and impacting the younger generation with values appropriate to sustain them for God in this pervert world. She gave her life to Jesus in 2008 and has since been an asset in God’s hands.
                                        </p>
                                        <p><a href="~/Support/Bio/2" class="read_more_btn">Read More</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="~/NewFolder2/ministers/Oyinloye.jpg" alt="card image"></p>
                                        <h4 class="card-title">Rev. Adesola Oyinloye</h4>
                                        <p class="card-text">Retired nurse, Pastor, intercessor, and counselor. </p>
                                        <a href="#" class="btn btn-sm button"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Rev. Adesola Oyinloye</h4>
                                        <p class="card-text line-clamp">Rev. Adesola OYINLOYE is the co-founder of The Resurrection Power Ministries International, based in Ile-Ife, Nigeria. She met the Lord about 39 years ago and by the grace of God, she has served in various capacities within the body of Christ. She is very passionate about happy homes.</p>
                                        <p><a href="~/Support/Bio/4" class="read_more_btn">Read More</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="~/NewFolder2/ministers/Orioke.jpg" alt="card image"></p>
                                        <h4 class="card-title">Pastor(Dr.) Samuel Odunlami Orioke</h4>
                                        <p class="card-text">Retired medical doctor, Pastor, marriage counselor and life coach. </p>
                                        <a href="#" class="btn btn-sm button"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title"> Pastor(Dr.) Samuel Odunlami Orioke</h4>
                                        <p class="card-text line-clamp">Pastor (Dr.) Samuel Odunlami ORIOKE is the General Overseer of Christ Way Ministry International, headquartered in Ile-Ife, Nigeria. Besides being an elder statesman in the society, Dr. Odun Orioke is also a mentor to many Christian ministries, fellowships and families across many divides. He is a veteran counselor with limitless passion for working marriages, and a peaceable conflict mediator.</p>
                                        <p><a href="~/Support/Bio/6" class="read_more_btn">Read More</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="~/NewFolder2/ministers/Adewoyin.jpg" alt="card image"></p>
                                        <h4 class="card-title">Oyenike Adewoyin</h4>
                                        <p class="card-text">Nurse, marriage counselor and sexuality coach</p>
                                        <a href="#" class="btn btn-sm button"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Oyenike Adewoyin</h4>
                                        <p class="card-text line-clamp">Oyenike ADEWOYIN is a daughter of the Most High God. She is a nurse by profession, a teacher who practically impacts the Word with simplicity; and a seasoned counselor through the instrumentality of the Holy Spirit.</p>
                                        <p><a href="~/Support/Bio/5" class="read_more_btn">Read More</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_03.png" alt="card image"></p>
                                        <h4 class="card-title">Elijah Oluwamayowa & Oluwafeyikemi Eunice Popoola</h4>
                                        <p class="card-text">University administrator and nurse lecturer respectively; youth pastors. </p>
                                        <a href="#" class="btn btn-sm button"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Elijah Oluwamayowa & Oluwafeyikemi Eunice Popoola</h4>
                                        <p class="card-text line-clamp">Elijah Oluwamayowa & Oluwafeyikemi Eunice POPOOLA are children of God who are products of Grace. They both became Christians early in their respective lives and have seen God’s grace nurse their faith. They both pastor a growing parish of the Foursquare Church while Mayowa also serves as the State Youth Pastor in the same ministry. </p>

                                        <p><a href="~/Support/Bio/7" class="read_more_btn">Read More</a></p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="~/NewFolder2/ministers/Fatusi.jpg" alt="card image"></p>
                                        <h4 class="card-title">
                                            Professors Adesegun and Olawuni Fatusi
                                        </h4>
                                        <p class="card-text">University Professors, mentors and marriage enthusiasts. </p>
                                        <a href="#" class="btn btn-sm button"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title"> Professors Adesegun and Olawuni Fatusi</h4>
                                        <p class="card-text line-clamp">Professors Adesegun and Olawunmi FATUSI are two Christian friends who have been God’s agents of light in countless quarters. Professor Adesegun Fatusi  met the Lord in his medical school days at the Obafemi Awolowo University, Ile-Ife, Nigeria while Professor Olawunmi Fatusi met the Lord in her secondary school days .</p>

                                        <p><a href="~/Support/Bio/8" class="read_more_btn">Read More</a></p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
            </div>
        </div>
    </section>
    <!-- Team -->
</div>
<style>
    .text-block {
        background-color: rgba(0,0,0,0.5);
        color: white;
        padding: 29px;
        font-size: 40px;
        border-radius: 29px;
    }
    .line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
  
    .site {
        background-size: cover;
        background-repeat: repeat;
        background-position: center;
    }

        .site.overlay {
            position: relative;
            padding-left: 20px;
            padding-right: 20px;
        }

            .site.overlay:before {
                position: absolute;
                content: "";
                left: 0;
                bottom: 0;
                right: 0;
                top: 0;
            }
    .col-sm-6{
        padding-left: 26px;
        padding-right: 26px;
    }
    .containee {
        position: relative;
        margin-top: -45px;
        width: 86%;
        margin-left: auto;
        margin-right: auto;
    }
    .backside .card-body {
        margin: 18px 20px 0px 20px;
    }

</style>