
@{
    ViewData["Title"] = "Send Message";
}

@section AddToHead {

    <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/responsive.css">

    <link href="/NewFolder2/contact2/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="/NewFolder2/contact2/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- Vendor CSS-->
    <link href="/NewFolder2/contact2/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/NewFolder2/contact2/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">
    <!-- Main CSS-->
    <link href="/NewFolder2/contact2/css/main.css" rel="stylesheet" media="all">
}

@section AddToEnd {


    <!-- Jquery JS-->
    <script src="/NewFolder2/contact2/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="/NewFolder2/contact2/vendor/select2/select2.min.js"></script>
    <script src="/NewFolder2/contact2/vendor/datepicker/moment.min.js"></script>
    <script src="/NewFolder2/contact2/vendor/datepicker/daterangepicker.js"></script>
    <!-- Main JS-->
    <script src="/NewFolder2/contact2/js/global.js"></script>

}

<div class="site-blocks-cover inner-page-cover" style="background-image: url('/NewFolder2/new/envelope-2898268_1280.jpg'); margin-top: 20px" data-aos="fade" data-stellar-background-ratio="0.5" data-aos="fade">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6 text-block text-center" data-aos="fade-up" data-aos-delay="400">
                <h2 class="support_head" style="color:#f2ba16; font-weight:300">Send Us A Message</h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="featured">

        <div class="card card-2">
            <div class="card-heading"></div>
            <div class="card-body">
                <h4 class="title" style="color:black" ; text-transform:"inherit">Are you in need of counselling/prayer? Contact our support links and we will get in touch with you.</h4>
                @using (Html.BeginForm(FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="input-group">
                        <input class="input--style-2" type="text" placeholder="Full name" name="fullname" required="required">
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select name="age" required="required">
                                        <option disabled="disabled" selected="selected">Age</option>
                                        <option>16-20</option>
                                        <option>21-25</option>
                                        <option>26-30</option>
                                        <option>31-35</option>
                                        <option>35-46</option>
                                        <option>46 & above</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select name="gender" required="required">
                                        <option disabled="disabled" selected="selected">Gender</option>
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <input class="input--style-2" type="number" placeholder="Phone Number" name="phone" required="required">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select name="category" required="required">
                                        <option disabled="disabled" selected="selected">Message Category</option>
                                        <option>Prayer</option>
                                        <option>Counselling</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <input class="input--style-2" type="email" placeholder="Email" name="email" required="required">
                    </div>
                    <div class="input-group">
                        <input class="input--style-2" type="text" placeholder="Your address" name="address" required="required">
                    </div>
                    <div class="input-group">
                        <textarea class="input--style-2" name="message" placeholder="Write us a message" required="required"></textarea>
                    </div>

                    <div class="p-t-30">
                        <button class="btn btn--radius btn--green" type="submit">Send</button>
                    </div>
                }
            </div>
        </div>

    </div>
</div>

@*

    <div class="container-contact100">
        <div class="wrap-contact100">
            <form class="contact100-form validate-form">
                <span class="contact100-form-title">
                    Do you need counsel/prayer in any of these areas? Marriage & Relationship, Career..Send a message to our support links and we'll get in touch with you.
                </span>

                <label class="label-input100" for="first-name">Tell us your name *</label>
                <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Type first name">
                    <input id="first-name" class="input100" type="text" name="first-name" placeholder="First name">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Type last name">
                    <input class="input100" type="text" name="last-name" placeholder="Last name">
                    <span class="focus-input100"></span>
                </div>

                <label class="label-input100" for="age">Age *</label>
                <div class="wrap-input100 validate-input" data-validate="Age is required">
                    <input id="age" class="input100" type="number" name="age" placeholder="Enter your age">
                    <span class="focus-input100"></span>
                </div>


                <label class="label-input100" for="email">Enter your email *</label>
                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input id="email" class="input100" type="text" name="email" placeholder="Eg. example@email.com">
                    <span class="focus-input100"></span>
                </div>

                <label class="label-input100 half-width" for="gender">Select your gender *</label>

                <label class="label-input100 half-width" for="category">Select message category *</label>


                <div class="custom-select half-width" validate-input" data-validate="select your gender">
                    <select id="gender" name="gender">
                        <option value="1">--Gender--</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                    </select>
                    <span class="focus-input100"></span>
                </div>


                <div class="custom-select half-width" validate-input" data-validate="select a category">
                    <select id="category" name="category">
                        <option value="1">--Category--</option>
                        <option value="1">Counselling</option>
                        <option value="2">Prayer</option>
                    </select>
                    <span class="focus-input100"></span>
                </div>

                <label class="label-input100" for="address">Where are you located? *</label>
                <div class="wrap-input100 validate-input" data-validate="Type your address">
                    <input id="location" class="input100" type="text" name="location" placeholder="Enter your address">
                    <span class="focus-input100"></span>
                </div>



                <label class="label-input100" for="message">Message *</label>
                <div class="wrap-input100 validate-input" data-validate="Message is required">
                    <textarea id="message" class="input100" name="message" placeholder="Write us a message"></textarea>
                    <span class="focus-input100"></span>
                </div>

                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn">
                        Send Message
                    </button>
                </div>
            </form>*@

@*</div>
    </div>*@



@*<div id="dropDownSelect1"></div>*@


<style>
    .col-2 {
        padding-left: 0px;
        padding-right: 0px;
        flex: inherit;
        max-width: inherit;
    }

    .featured {
        position: relative;
        background: #fff;
        margin-top: -70px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 130px;
    }

    textarea {
        width: 100%;
        height: 140px;
        border: none;
    }

    .text-block {
        background-color: rgba(0,0,0,0.5);
        color: white;
        padding: 29px;
        font-size: 40px;
        border-radius: 29px;
    }
</style>
