@{
    ViewData["Title"] = "About";
    Layout = "~/Views/EMI/_EMILayout.cshtml";
}

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>About Us</h2>
                <div class="page_link">
                    <a href="~/emeraldlight/index">Home</a>
                    <a href="~/emeraldlight/about">About Us</a>
                    <a href="~/emeraldlight/about/readmore">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Welcome Area =================-->
<section class="welcome_area p_120">
    <div class="container">
        <div class="row welcome_inner">
            <div class="col-lg-4">
                <div>
                    <img class="img-fluid" src="~/EMI/img/pexels-dazzle-jam-1046599.jpg" alt="">
                </div>
            </div>

            <div class="col-lg-8">
                <div class="welcome_texte">
                    <h4 text-align="center">Welcome to Emerald Light Initiative</h4>
                    <p>
                        Many teen girls and youths, through youthful exuberance or circumstances beyond their controls landed in the motherhood, totally unprepared. Most parents, being disappointed and deeply hurt by their tenagers' acts take some stances that are detrimental to the future of these teens and the unborn children. The society shame and shun them. They cannot move freely talk less of going back to school or attend ante-natal appointments because of the toxic attitudes of the society to them. They become stranded, depressed and vulnerable. With no where to turn, some commit suicide while some are thrown to the boys who impregnated them or to his family. There, they suddenly become wives
                        and mothers. Most of these girls die from domestic violence, during child birth or suffer serious complications and losses. With the support of their families and friends gone into the thin air, they are left to face the cruelty of life, some with their children!
                    </p>
                    <p>
                        Some of these girls don't make it back to school or continue the apprenticeship they once enrolled in. Life becomes difficult for them and their babies.
                        Although, many studies have shown that many factors contribute to the increasing number of teen pregnancy in our society, we only want to dump our anger on these culprits who have disappointed us. Meanwhile many teens and youths are commiting abortion to escape our wrath, whereby, many have lost their lives during this process.
                        Most times, we forget that it takes two to tangle. We spare the boys who impregnated them since they don't carry pregnancy. Aren't we a bias society?
                    </p>
                    <p>
                        Emerald Light Intiative is established to give these teen girls second chance to life by:
                    </p>
                    <ol>
                        <li>Advocating against the brutal stigmatization and stereotyping mounted on them by our society</li>
                        <li>Giving mental, social, emotional, educational, financial support and empowerment to give them opportunities to find themselves and their future again.</li>
                    </ol>


                </div>

                <br />


                <div>
                    <a cursor="pointer" href="~/emeraldlight/about"><button type="button" class="btn btn-danger">Go Back</button></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--================End Welcome Area =================-->
<style>
    .welcome_texte p {
        line-height: 24px;
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 40px;
        text-align: justify;
    }

    button {
        cursor: pointer
    }
</style>
