/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');








.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #8b0000;
    border-color: #8b0000;
}

section {

    background: url("../background/supportlinks.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:scroll;


    padding: 60px 0;

}

    section .section-title {
        text-align: center;
        color: #8b0000;
        margin-bottom: 50px;
        text-transform: uppercase;
    }

#team .card {
    border: none;
    border-radius: 3px;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

    .frontside .card,
    .backside .card {
        min-height: 348px;
    }

        .backside .card a {
            font-size: 15px;
            background: darkred;
            color: white;
        }

            .backside .card a:hover {
             background: white;
             color: darkred;
             border: 1px solid darkred;
            }

        .frontside .card .card-title,
        .backside .card .card-title {
            color: darkblue !important;
            margin-bottom: 13px;
        }

        .frontside .card .card-body img {
            width: 90%;
            height: 197px;
            border-radius: 50%;
        }
.support_head {
    text-transform: capitalize;
    color: white;
    font-weight: 500;
    font-size: 43px;
}

.read_more_btn {
    padding: 8px 16px;
    background: #ad001c;
    border-radius: 16px;
    color: white
}

.backside .card-text {
    margin-bottom: 36px;
}

.ministers p {
    color: black;
}

.button {
    margin-top: 13px;
    margin-bottom: 13px;
    border-radius: 0px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(242, 186, 22, 0.2);
    background-color: darkred;
    color: #fff;
}
.site-overlay:before{
    background: none;
}

