@{
    ViewData["Title"] = "About Us";
}

@section AddToHead {

    <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/NewFolder2/ministers/style.css">

}

@section AddToEnd {
    <script src="~/NewFolder2/plugins/masonry/images_loaded.js"></script>
    <script src="~/NewFolder2/js/custom.js"></script>
}


<div class="site-blocks-cover inner-page-cover" style="background-image: url('/NewFolder2/new/love-pink-celebration-rose-36718.jpg'); margin-top:20px" data-aos="fade" data-stellar-background-ratio="0.5" data-aos="fade">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center text-block" data-aos="fade-up" data-aos-delay="400">
                <h2 class="support_head" style="color:#f2ba16">About Selah Series</h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="featured-property-half d-flex first_top">
        <div class="image" style="background-image: url('/NewFolder2/new/brigitte-tohm-XyGeWTj2E7w-unsplash.jpg')"></div>
        <div class="text">
            <h3 style="color:darkred; text-align: center; margin-bottom:20px"><b>Selah Series</b></h3>
            <p style="color:black; text-align:center; line-height:1.70">Welcome, the Lord bless you.</p>
            <p class="mb-4" style="color:black; text-align:center; line-height:1.70">
                The SELAH Series is one of the components of the GRAY HAIR MINISTRIES. This vision
                seeks to reach out to people across various age groups with principal focus on love,
                relationships and marriages. In addition, SELAH Series discusses faith, social, political,
                economic/entrepreneur, healthcare and sport matters.
            </p>
           
            <p class="mb-5" style="color:black; text-align:center; line-height:1.70">
                We see ourselves as “privileged clay in the hands of the Potter” and, thus, our sole aim is for
                God’s name to be glorified in the lives of everyone we shall come across. We welcome you in
                the name of our Lord Jesus Christ. It is our prayer and desire that you will find your time on
                this website as useful and rewarding. SHALOM!!
            </p>

            <p style="text-align:center"><a href="~/About/Read_More" class="read_more_btn">Read More</a></p>
        </div>
    </div>
</div>

<div class="same" style="
    padding-top:41px; margin-top:80px">
    <h3 style="background-color:white"></h3>
    <h3 style="color:#ad001c; text-align:center; padding-bottom:33px">Meet the Authors</h3>
    <div>
        <div class="container bio">
            <div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card" style="border-radius:0px">
                            <img class="card-img-top" src="/NewFolder2/images2/img_1.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="h5 card-text">‘Lekan: Simply a Blend of Grace, Vision and Courage!</p>
                                <p class="h6">
                                    ‘Lekan is a husband, father, nurse, writer, public speaker, teacher, mentor, analyst,
                                    entrepreneur and most importantly – a child of God.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div id="myCarousel" class="carousel slide">
                            <p class="indent" style="text-align:justify; color: black; line-height: 1.7">
                                <b>‘Lekan Agunbiade</b> is a Nigerian, from the ancient city of Ilesha. I was born in Lagos and grew
                                up in Ilesha. I had my early education at The Apostolic Church Primary School, Oke – Iro and
                                Methodist High School, Cappa; both in Ilesha. God has continued to use many impeccable
                                teachers, mentors, friends of destiny and angels to guide my path.
                            </p>
                            <p class="indent" style="text-align:justify; color: black; line-height: 1.7">
                                I qualified as a Registered Nurse (RN) from the School of Nursing, Wesley Guild Hospital
                                Ilesha in 2006; completed my Bachelor’s degree in Nursing in 2014 from the historical
                                Obafemi Awolowo University, Ile-Ife and had my Public Health Nursing program at the
                                College of Hygiene, Eleyele, Ibadan in 2015. By divine privilege, I was the first African
                                alumnus of the Edmond J. Safra Clinical Faculty Program (2014); a member of World Stroke
                                Organisation, European Stroke Organisation, and Movement Disorder Society, just to mention
                                a few. I worked for more than a decade in Nigeria, and currently practicing in a Regional
                                Hospital in Europe. I have been involved in some research publications in public health and
                                movement disorders.
                            </p>
                            <p class="indent" style="text-align:justify; color: black; line-height: 1.7">
                                I encountered Christ’s redemption grace on 1st of July, 1999 and I bless God for His sustaining
                                grace through the years, despite my several failures and inconsistencies. Too many times my
                                salvation story looked like the “seed lost amidst the thorns”. Every opportunity to grow met
                                with the choking and frustrating effects of legalistic doctrine, negative peer social pressure,
                                abject poverty and a setting that was not used to a teenager being “born again”. Through it all,
                                God jealously preserved me. By divine privilege, I have served as children Church teacher, an
                                usher, in drama groups and as a Sunday school teacher within the body of Christ.
                            </p>
                            <p class="indent" style="text-align:justify; color: black; line-height: 1.7">
                                My earliest privilege at intervening in a marital issue that I can remember dates back to when
                                I was 12, and Holy Spirit has been a reliable companion since then. As God has enabled, I have
                                written few books – THE TIME of LIFE, FULFILLING YOUR PREDESTINED
                                GREATNESS and the SELAH SERIES editions. My autobiography “OMO TALIKA” is
                                yet to be published. I am contently married to Titilayo who is an able partner in this calling,
                                and the young marriage is blessed beyond measures, to the glory of God.

                            </p>
                            <p class="indent" style="text-align:justify; color: black; line-height: 1.7">
                                To many people across several divides, ‘Lekan Agunbiade translates to several things
                                depending on areas of interests – love, relationship & marriage; political analyst, life & career
                                coach; sport analyst; Bible study teacher; entrepreneur and so on. Basically, I just believe in
                                maximizing every opportunity to serve God and God’s people.
                            </p>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
    <div class="authors same second" style="padding-top:41px; margin-top:80px">
        <div class="container bio">
            <div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card" style="border-radius:0px">
                            <img class="card-img-top" src="/NewFolder2/images2/img_1.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="h5 card-text">Titilayo: a World of Vision Embedded in Tranquillity</p>
                                <p class="h6">
                                    Titilayo is a wife, mother, scientist, researcher, medical writer, editor, coach, Public
                                    Health analyst and a child of God.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div id="myCarousel" class="carousel slide">
                            <p class="indent" style="text-align:justify; color: black; line-height: 1.7">
                                My name is <b>Titilayo LEKAN-AGUNBIADE</b>. I was born into a middle level monogamous
                                family of six in Nigeria. I had my primary school education in St. Mary Catholic Primary
                                School, Ile-Ife and my secondary school education at Adepetu Comprehensive College, Ile-Ife
                                from where I proceeded to Ladoke Akintola University of Technology, Ogbomosho for my
                                undergraduate degree in Medical Laboratory Science and later to Obafemi Awolowo
                                University, Ile-Ife for my Master’s degree in Public Health. I am a member of Academy of
                                Clinical Science and Medical Laboratory Medicine, Irish Global Health Network, and the
                                European Society of Contraception and Reproductive Health.
                            </p>
                            <p class="indent" style="text-align:justify; color: black; line-height: 1.7">
                                I gave my life to Christ when I was 10 year old and I had some struggles especially with my
                                parents because I was considered to be a “religious extremist” but the fire kept burning despite
                                all odds.
                            </p>
                            <p class="indent" style="text-align:justify; color: black; line-height: 1.7">
                                I met my husband in the year 2011 in the church (Chapel of Grace, Obafemi Awolowo
                                Teaching Hospital, Ile-Ife) during my one year internship program as a Medical Laboratory
                                Scientist. He was my group leader and I never thought he will eventually be my “One and
                                Only”. He proposed to me at a stage of my life when I needed answers and direction from God
                                concerning my marital life, so I told him not to bother himself about me because I was not
                                ready for such commitment and he understandably went his way but God’s mercies brought us
                                together later in our lives when I was sure he was the one. We celebrated our 7 years in marriage
                                few months ago and to be sincere, it has been glorious as well as very challenging, to God be
                                the glory.
                            </p>
                            <p class="indent" style="text-align:justify; color: black; line-height: 1.7">
                                I am passionate about the total wellness of women and crave to see the world filled with
                                wholesome and impactful women who live decisively, achieving their dreams without
                                restrictions. I believe in the power and potency of a goodly marriage. It also gives me utmost
                                joy to lighten other people’s burden and to put smiles on their faces.
                            </p>
                            <p class="indent" style="text-align:justify; color: black; line-height: 1.7">
                                It is the passion of my husband and I to share our lives and experiences, to help others that are
                                hoping for a glorious marriage and are ready to go extra miles to fulfil their purposes in
                                marriage and in other aspects of life while we stay open to learn from other people’s
                                experiences as well because we believe that life is all about sharing and learning.

                            </p>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="eurekaa" style="
    margin-bottom: 125px;
    margin-top:80px;
    padding-top: 50px;">
    <h3 style="color:#ad001c; text-align:center; padding-top:20px">Our Interesting love story</h3>
    <h4 style="color:#f2ba16; text-align:center; padding-bottom:20px">By 'Lekan Agunbiade</h4>
    <div style="margin-left:auto; margin-right:auto">
        <img class="eureka" src="~/NewFolder2/new/two-gold-rings-near-white-and-pink-huyflowers-1405678 (1).jpg" />
    </div>
    <div class="container eurek bio">
        <div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card" style="border-radius:0px">
                        <img class="card-img-top" src="/NewFolder2/images2/img_1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="h5 card-text">
                                EUREKA!! TITILAYO (NEE AKINTILO) IS MRS. LEKAN-AGUNBIADE
                            </p>
                            <p class="h6">
                                Titilayo and ‘Lekan are Europe – based healthcare practitioners, passionate about
                                God, working marriages, youths, writing, and research.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div id="myCarousel" class="carousel slide">
                        <p class="indent" style="text-align:justify; color: black; line-height: 1.7">
                            I met Titilayo at the Chapel of Grace when she was in OAUTHC for her year – long internship
                            program at the Haematology and Blood Transfusion department of the hospital laboratory. At
                            the time, I had the honour of coordinating the Royal family (a section of our Youth fellowship
                            that caters for the postgraduate students, applicants, employed and older youths). The structure
                            meant that I was expected to have a direct contact and communication with youths newly
                            arriving in the Chapel either at the Youth fellowship or the Royal family levels. So, I met her
                            after a Sunday service and we exchanged phone numbers, like we would relate with every new
                            youth in the Chapel.
                        </p>
                        <p class="indent" style="text-align:justify; color: black; line-height: 1.7">
                            Part of my 2010 resolution was that I was not going to consider any of the ladies around me in
                            the Chapel for a pre – marital relationship. I saw that as part of my personal leadership ethic.
                            Then, I was interested in seeking a new “catch” from outside the beauties that surrounded my
                            work and church life.
                        </p>
                        <p class="indent" style="text-align:justify; color: black; line-height: 1.7">
                            Incidentally, I had little passion initially to interact with Titi, but as the weeks rolled by; I
                            became interested in getting to know her better. We visited her as expected of the Youth
                            fellowship team and my initial error of thought about her being a fresh undergraduate student
                            was binned. Could this be the “Pearly Catch”? But my efforts to initiate a friendship with her
                            were unsuccessful as she sternly resisted any contact with the male folks; she was not ready for
                            the likely eventualities. Fast forward a few months, I proposed to Titi and the chain of
                            avoidance game tagged ‘just go’ began in earnest. She was neither going to give room for
                            friendship, not to think of considering a marriage proposal; nor was she going to commit her
                            word for me to wait for whatever her response was going to be, even though I was happy to
                            wait for as long as reasonable.
                        </p>
                        <p class="indent" style="text-align:justify; color: black; line-height: 1.7">
                            Did I get a statement from God confirming her as my wife prior to my proposing? No, not
                            exactly. However, I was sure I was on the right path, I had a good peace within me that was
                            not there whenever I sailed the wrong way. This was the explanation I gave when she asked
                            me about my convictions. So the more she resisted my proposal, the more I hung around. We
                            spent times together though, as I visited her apartment often and although she appeared to enjoy
                            it, but most conversations were too one sided, too often. It can be so frustrating when you are
                            talking for hours and not hearing anything from the other person.
                        </p>
                        <p class="indent" style="text-align:justify; color: black; line-height: 1.7">
                            I knew through a few revelations that she was going through some tough times which I later
                            realized; that she was walking out of a courtship of almost 3 years. Committing to another
                            suitor was not the best decision for her circumstances at the time; she had loads of things to
                            sort out with God regarding her marital life. For so long, I didn’t know this and she kept telling
                            me off, in spite of many attempts to have her commit herself that she was going to consider my
                            proposal. This experience taught me the great value of “No, sorry” or “politely buying time”.
                            Hence, I moved on after more than six months.

                        </p>
                        <p class="indent" style="text-align:justify; color: black; line-height: 1.7">
                            Surprisingly, Titi called me on a January evening in 2012 to ask if I wanted her to still consider
                            my earlier proposal but my answer was not tough to conclude on; No, thanks. This was simply
                            because I had committed myself in the form of a proposal to another lady and wouldn’t play
                            games on my words. Later in March 2012, I heard audibly during my morning devotion, a
                            female voice praying that God would return ‘Lekan Agunbiade to her.

                        </p>
                        <p class="indent" style="text-align:justify; color: black; line-height: 1.7">
                            It occurred to me in April 2012 that I was refusing the Holy Spirit’s leading and I saw
                            revelations that confirmed this. So, later in April, I called Titi to consider my proposal. In July
                            2012, during one of the Chapel of Grace Workers’ Retreat sessions, I was led by the Holy Spirit
                            to interact with Dr. Akintunde Feyintola (a consultant gynecologist and the Chapel’s prayer
                            band leader at the time) about my relationship issues. But I was not going to do so. After the
                            service, Dr. Feyintola approached me and told me Holy Spirit had led him to discuss a few
                            things with me about the youths of the Church and something related to pre-marital
                            relationships. Not all the approaches of the Holy Spirit can be this direct and instantaneous. I
                            discussed with him and we fixed prayer sessions. Prior to the scheduled appointments with Dr.
                            Feyintola, I prayed with an unprecedented intent. I surrendered my bruised ego and resolves to
                            God in the process, and I ultimately had an encounter with my Maker as I sought the way
                            forward regarding my future home. His Light illuminated my path as I got His mandate for my
                            future home; a return to Titilayo.


                        </p>
                        <p class="indent" style="text-align:justify; color: black; line-height: 1.7">
                            As Pearl eventually narrated to me, God had given her the nod to answer YES late in the
                            summer of year 2011 and the several proposals that came her way during her NYSC and
                            “Mama” days were not to be considered. She, in the place of prayer got to know the details and
                            the phases that I was going through, and she chose to wait, as God had instructed her. She chose
                            to obey God regardless of my prior resolve; to be humble and especially to reach out to me at
                            those crucial intervals.


                        </p>
                        <p class="indent" style="text-align:justify; color: black; line-height: 1.7">
                            ;We got married on 11th of May, 2013. It has been a beautiful experience. Oh yeah, we have
                            had many issues; sanguine – choleric profile married to a total phlegmatic profile means a lot
                            if you can imagine the combo; we are young; we have been nomads too many times..... But in
                            all of these things; God has remained our faithful Guide, our present help in the days of need.


                        </p>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
    
<style>
    .text-block {
        background-color: rgba(0,0,0,0.5);
        color: white;
        padding: 29px;
        font-size: 40px;
        border-radius: 29px;
    }
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .carousel {
        margin-top: 50px;
    }

    .carousel {
        background: white;
        margin-top: 20px;
    }


    .carousel-inner {
        height: 430px;
    }

    .carousel-caption {
        color: #fff;
        top: 50%;
    }

    .carousel_head {
        color: black;
        text-align: center;
    }

    .carousel-control-next:hover {
        color: #ad001c;
    }

    .carousel-control-next-icon, .carousel-control-prev-icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #ad001c;
        background-size: 100% 100%;
    }

    .carousel-indicators li {
        background-color: rgba(173, 0, 28,.7);
    }

    .carousel-indicators .active {
        background-color: #ad001c;
    }

    .img-fluid {
        margin-top: 100px;
    }

    div.slide {
        padding: 50px;
        height: 461px;
        overflow-y: scroll;
    }
    div#myCarousel::after {
        
        background: url('/NewFolder2/new/yellow-sunflower-in-clear-glass-vase-3823839 (1).jpg');
            opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
    .read_more_btn:hover{
        background: white;
        color: darkred;
        border: 1px solid darkred;
    }
    .eureka{
        width: 52%;
        margin-left: 24%;
        margin-right: 24%;
    }
    .eurek {
        position: relative;
        margin-top: -97px;
        background: url("/NewFolder2/new/abstract-antique-backdrop-background-129731.jpg");
        background-position: center;
        background-size: contain;
        margin-bottom: 50px;
    }
    .bio {
        width: 80%;
        margin-bottom: 83px;
        background: url('/NewFolder2/new/abstract-antique-backdrop-background-129731.jpg');
        background-position: center;
        background-size: cover;
    }
    .authors {
        padding-bottom: 30px;
    }
    .eurekaa {
        border-left: 15px solid #ec517f;
        margin: 0 50px 0 50px;
        border-right: 15px solid #ec517f;
        border-top: 15px solid #ec517f;
    }
    .same {
        border-left: 15px solid #0071bd;
        margin: 0 50px 0 50px;
        border-right: 15px solid #0071bd;
    }
        .same.second {
            border-bottom: 15px solid #0071bd;
        }
    .indent {
        text-indent : 2.5em;
    }
</style>