@{
    ViewData["Title"] = "Contact";
}

<!-- Home -->
@section AddToHead {
    <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/contact.css">
    <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/contact_responsive.css">

    <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/responsive.css">
}

@section AddToEnd {
    <script src="plugins/parallax-js-master/parallax.min.js"></script>
}

    <div>
        <div class="site-blocks-cover overlay" style="background-image:url(/NewFolder2/new/priscilla-du-preez-glDterhfzKw-unsplash.jpg)"></div>

        <div class="home_content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        @await Html.PartialAsync("AlertViewPartial")

                        <!-- Post Comment -->
                        <div class="post_comment">
                            <div class="contact_form_container" style="margin-bottom:40px">
                                @using (Html.BeginForm())
                                {
                                @Html.AntiForgeryToken()
                                <input type="text" name="name" class="contact_input contact_input_name" placeholder="Your FullName" required="required">
                                <input type="email" name="email" class="contact_input contact_input_email" placeholder="Your Email" required="required">
                                <input type="text" name="Subject" class="contact_input" style="width:100%; margin-top:15px" placeholder="Mesage Subject" required="required">
                                <textarea class="contact_text" name="message" placeholder="Your Message" required="required"></textarea>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <button type="submit" class="contact_button">Send Message</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<style>
    .search_container form {
        display: inline-block;
        position: relative;
    }

    .header_search_input {
        display: inline-block;
        width: 262px;
        height: 46px;
        background: #4177b0;
        border: none;
        outline: none;
        border-radius: 5px;
        padding-left: 49px;
        color: white;
    }

        .header_search_input::-webkit-input-placeholder {
            font-family: 'Ubuntu', sans-serif;
            font-size: 14px !important;
            font-weight: 400 !important;
            color: rgba(255,255,255,0.5) !important;
        }

        .header_search_input:-moz-placeholder {
            font-family: 'Ubuntu', sans-serif;
            font-size: 14px !important;
            font-weight: 400 !important;
            color: rgba(255,255,255,0.5) !important;
        }

        .header_search_input::-moz-placeholder {
            font-family: 'Ubuntu', sans-serif;
            font-size: 14px !important;
            font-weight: 400 !important;
            color: rgba(255,255,255,0.5) !important;
        }

        .header_search_input:-ms-input-placeholder {
            font-family: 'Ubuntu', sans-serif;
            font-size: 14px !important;
            font-weight: 400 !important;
            color: rgba(255,255,255,0.5) !important;
        }

        .header_search_input::input-placeholder {
            font-family: 'Ubuntu', sans-serif;
            font-size: 14px !important;
            font-weight: 400 !important;
            color: rgba(255,255,255,0.5) !important;
        }

    .header_search_icon {
        position: absolute;
        top: 50%;
        left: 25px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
</style>