@{
    ViewData["Title"] = "Our Support Links";
}

@section AddToHead {

    <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/NewFolder2/ministers/style.css">


}

@section AddToEnd {
    <script src="~/NewFolder2/plugins/masonry/images_loaded.js"></script>
    <script src="~/NewFolder2/js/custom.js"></script>
}

<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url('/NewFolder2/new/love-pink-celebration-rose-36718.jpg'); margin-top: 20px" data-aos="fade" data-stellar-background-ratio="0.5" data-aos="fade">
</div>


<div class="site-section">


                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 bass">
                            <div><img src="~/NewFolder2/new/photo-of-flowers-in-ceramic-vase-4207475.jpg" alt="Image" class="img-fluid imge"></div>
                            <div><img src="~/NewFolder2/new/white-red-orange-and-brown-flowers-931168.jpg" alt="Image" class="img-fluid imge" /></div>

                        </div>
                        <div class="set col-lg-8">
                            <div class="site-section-heading text-center mb-5 w-border">
                                <h2 class="mb-5" style="color:black; margin-top:20px">About Selah Series</h2>
                                <p style="line-height: 1.7; color:rgba(0,0,0,0.8)">
                                    Selah is an Hebrew word that means "to hang or pause," and by implication "to ponder,
                                    measure or weigh”. Alternatively, selah may also mean "forever," as it does in some places in
                                    liturgy. Series – because it is cyclic. In a fast paced world, Selah Series is asking us to pause
                                    and ponder on some important issues of life.
                                </p>
                                <p style="line-height: 1.7; color:rgba(0,0,0,0.8)">
                                    By the help of the Holy Spirit, I began a yearly series on Facebook in 2010 spanning a full
                                    month each year. The main motivation for love and relationship series back then were the
                                    inconsistencies I observed in peoples’ Facebook posts and my personal failures which without
                                    God’s rare grace and the mentorship of veterans would have been enough to wreck anyone’s
                                    destiny. However, as from the 10th edition in August 2019, the Lord expanded our resource
                                    base as SELAH Series began to feature imparting contributions from outside the ‘Lekan
                                    Agunbiade’s family. To the glory of the God, several testimonies and feedbacks have attested
                                    to these God-mediated teachings. Sequel to encouraging calls from far and wide, the 10 years’
                                    editions 2010 – 2019 have been compiled to the SELAH Series books.
                                </p>
                                <p style="line-height: 1.7; color:rgba(0,0,0,0.8)">Titilayo and I carry a burden that is backed up by God’s calling to:</p>
                                <ul style="line-height: 1.7; color:rgba(0,0,0,0.8)">
                                    <li><p style="line-height: 1.7; color:rgba(0,0,0,0.8)">
                                        contribute our quota towards children and teenagers being groomed for adulthood with its
                                        varying demands;
                                        </p>
                                    </li>
                                    <li><p style="line-height: 1.7; color:rgba(0,0,0,0.8)">
                                        work with youths and unmarried adults by sharing opinions and experiences in order to
                                        ensure that everyone we come across enjoy a fulfilling and godly pre-marital life;
                                        </p>
                                    </li>
                                    <li><p style="line-height: 1.7; color:rgba(0,0,0,0.8)">
                                        play destiny-ordained roles in encouraging, building, restoring and fortifying every couple
                                        or family that fate brings our way;
                                        </p>
                                    </li>
                                    <li><p style="line-height: 1.7; color:rgba(0,0,0,0.8)">
                                        offer emotional and psychological care for the elderly.
                                        </p>
                                    </li>
                                </ul>
                                <p style="line-height: 1.7; color:rgba(0,0,0,0.8)">
                                    In our bid to achieve these, we have been working with some mentors and several resource
                                    persons as needs warrant.
                                </p>
                                <p style="line-height: 1.7; color:rgba(0,0,0,0.8)">
                                    Behind the scenes, we continue to enjoy God’s grace and favour in forms of mentorship, faith
                                    parenting, advice, constructive criticisms and partnership from God’s people. Pastor (Prof.)
                                    Adesegun and Deaconess (Prof.) Olawunmi Fatusi, Pastor (Dr.) Odunlami and Pastor Dunni
                                    Orioke, Pastors Nick and Janice Park, Pastor Elaine Marrett, Pastor Iyiola Faleye, Rev. Adesola
                                    Oyinloye, Mrs. Carolyn Solanke, Deacon (Dr.) Akinlolu and Deaconess (Dr.) Bridget Omisore,
                                    Mr. Olusoga and Mrs. Atilola Adebambo, Mr. Oluwamayowa and Mrs. Oluwafeyikemi
                                    Popoola, Dr. Tolulope Adefi, Mrs. Oyenike Adewoyin, Mrs. Ronke Taiwo, Mrs.
                                    Oluwatofunmi Ganiyu and until his untimely demise – Prof. Jerome Elusiyan (of blessed
                                    memory).
                                </p>
                                <p style="margin-top:41px"><a href="~/Home/About" class="read_more_btn">Go Back</a></p>
                            </div>
                        </div>
                    </div>
                </div>
             
     
</div>



<style>
    .read_more_btn:hover {
        background: white;
        border: 1px solid darkred;
        color: darkred;
    }

    .site-section-heading {
        padding: 0px 80px;
    }

    ul{
        list-style: disc;
    }
    .imge{
        margin-bottom: 54px;
    }
        /*.set {
            position: relative;
            overflow: hidden;
        }

        .set::before {
            content: ' ';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            right: 0px;
            bottom: 0px; /*z-index: 1;*/
            /*opacity: 0.3;
            background-image: url("/NewFolder2/new/assorted-color-leaves-2652346.jpg");
            background-repeat: no-repeat;
            background-position: 50% 0;
            background-size: cover;
        }

    .site-section-heading {
        position: relative;
    }*/
</style>
