

.has-overlay::after {
    content: "";
    display: block;
    position: absolute;
    padding: 100px 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

.carousel {
    margin: 50px auto;
    padding: 0 70px;
}

    .carousel .item {
        min-height: 330px;
        text-align: center;
        overflow: hidden;
    }

        .carousel .item .img-box {
            height: 160px;
            width: 100%;
            position: relative;
        }

        .carousel .item img {
            max-width: 100%;
            max-height: 100%;
            display: inline-block;
            position: absolute;
            bottom: 0;
            margin: 0 auto;
            left: 0;
            right: 0;
        }

        .carousel .item h4 {
            font-size: 18px;
            margin: 10px 0;
        }

        .carousel .item .btn {
            color: #8b0000;
            border-radius: 0;
            font-size: 11px;
            text-transform: uppercase;
            font-weight: bold;
            background: none;
            border: 1px solid #ccc;
            padding: 5px 10px;
            margin-top: 5px;
            line-height: 16px;
        }

            .carousel .item .btn:hover, .carousel .item .btn:focus {
                color: #fff;
                background: #8b0000;
                border-color: #8b0000;
                box-shadow: none;
            }

            .carousel .item .btn i {
                font-size: 14px;
                font-weight: bold;
                margin-left: 5px;
            }

    .carousel .thumb-wrapper {
        text-align: center;
    }

    .carousel .thumb-content {
        padding: 15px;
    }

    .carousel .carousel-control {
        height: 100px;
        width: 40px;
        background: none;
        margin: auto 0;
        background: rgba(0, 0, 0, 0.2);
    }

        .carousel .carousel-control i {
            font-size: 30px;
            position: absolute;
            top: 50%;
            display: inline-block;
            margin: -16px 0 0 0;
            z-index: 5;
            left: 0;
            right: 0;
            color: rgba(0, 0, 0, 0.8);
            text-shadow: none;
            font-weight: bold;
        }

    .carousel .item-price {
        font-size: 13px;
        padding: 2px 0;
    }



    .carousel .item-price {
        color: black;
        font-size: 110%;
    }

    .carousel .carousel-control.left i {
        margin-left: -3px;
    }

    .carousel .carousel-control.left i {
        margin-right: -3px;
    }

    .carousel .carousel-indicators {
        bottom: -50px;
    }

.carousel-indicators li, .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 50%;
    border-color: transparent;
}

.carousel-indicators li {
    background: rgba(0, 0, 0, 0.2);
}

    .carousel-indicators li.active {
        background: rgba(0, 0, 0, 0.6);
    }

.star-rating li {
    padding: 0;
}

.star-rating i {
    font-size: 14px;
    color: #ffc000;
}

.carousel-item {
    position: relative;
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.black-overlay {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.6)
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card2 {
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

    .card2:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .card2 img {
        width: 100%;
        height: 14em;
        border-radius: 5px 5px 0 0;
        margin: 0;
    }

.container2 {
    padding: 2px 16px;
}

.card2 h4 {
    padding: 3px;
    color: black;
    text-align: center;
}

.card2 p {
    text-align: center;
}

