/*======================== SASS definitions =======================*/
/*======================== FLEXBOX ALIGNMENT =======================*/
 body {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 min-height: 100vh;
}
/*======================== BASIC styles =======================*/
 * {
	 box-sizing: border-box;
}
/*======================== BUTTON styles =======================*/
button:focus{
    outline:none;
}
.clap {
    position: absolute;
    right: 1.2em;
    top: -5em;
    outline: 1px solid transparent;
    border-radius: 50%;
    border: 1px solid rgba(189, 195, 199, 1);
    width: 80px;
    height: 80px;
    background: none;
}
 .clap:after {
	 content: "";
	 position: absolute;
	 top: 0;
	 left: 0;
	 display: block;
	 border-radius: 50%;
	 width: 79px;
	 height: 79px;
}
 .clap:hover {
	 cursor: pointer;
	 border: 1px solid rgba(39, 96, 174, 1);
	 transition: border-color 0.3s ease-in;
}
 .clap:hover:after {
	 animation: shockwave 1s ease-in infinite;
}
 .clap svg {
	 width: 40px;
	 fill: none;
	 stroke: rgba(39, 96, 174, 1);
	 stroke-width: 2px;
}
 .clap svg.checked {
	 fill: rgba(39, 96, 174, 1);
	 stroke: #fff;
	 stroke-width: 1px;
}
    .clap .clap--count {
        position: absolute;
        top: -50px;
        left: 20px;
        font-size: 0.8rem;
        color: white;
        background: #D4AF37;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        line-height: 40px;
    }
 .clap .clap--count-total {
	 position: absolute;
	 font-size: 0.8rem;
	 width: 80px;
	 text-align: center;
	 left: 0;
	 top: -22.8571428571px;
	 color: rgba(189, 195, 199, 1);
}
/*==================== Message ======================*/
 #message {
	 position: absolute;
	 bottom: 20px;
	 color: rgba(39, 174, 96, 1);
	 line-height: 1.52rem;
	 padding: 1rem;
	 font-size: 0.9rem;
}
 #message a {
	 color: rgba(189, 195, 199, 1);
}
 @keyframes shockwave {
	 0% {
		 transform: scale(1);
		 box-shadow: 0 0 2px rgba(39, 174, 96, 1);
		 opacity: 1;
	}
	 100% {
		 transform: scale(1);
		 opacity: 0;
		 box-shadow: 0 0 50px rgba(20, 91, 50, 1), inset 0 0 10px rgba(39, 174, 96, 1);
	}
}
 