@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{
	
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	.home_slider_next
	{
		width: 315px;
	}
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	.home_slider_next
	{
		width: 285px;
	}
	.home_slider_next_link
	{
		font-size: 16px;
	}
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.header_search_input
	{
		width: auto;
	}
	.home_slider_next_container
	{
		left: calc(((100vw - 960px) / 2) + (960px * 0.75) + 8px);
	}
	.home_slider_nav_container
	{
		left: calc(((100vw - 960px) / 2) + (960px * 0.75) + 8px);
	}
	.section_tags
	{
		padding-right: 75px;
	}
	.section_tags ul li
	{
		display: none;
	}
	.section_tags ul li:nth-child(-n+4)
	{
		display: inline-block !important;
	}
	.card_largest_with_image,
	.card_large_with_background,
	.card_large_with_image
	{
		width: 690px;
		/*height: 325px;*/
	}
	.card_small_no_image,
	.card_small_with_background,
	.card_small_with_image,
	.card_default_no_image,
	.card_default_with_background
	{
		width: 330px;
	}
	.side_post_image div
	{
		width: 50px;
		height: 50px;
	}
	.sidebar_title_container
	{
		padding-bottom: 10px;
	}
	.sidebar_slider_nav
	{
		position: absolute;
	    top: 37px;
	    right: auto;
	    left: 0;
	}
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
    div.eurek {
        margin-top: -63px;
    }
    .section_panel .section_panel_more > ul > li {
        display: block;
    }
    .section_panel .section_panel_more > ul > li .first{
        display: none;
    }
        .section_panel .section_panel_more > ul > li .second {
            display: none;
        }
        .section_panel .section_panel_more > ul > li .third {
            display: none;
        }
    .section_panel_more > ul > li .fourth {
        display: block;
    }

    div.mainflip .frontside .card .card-body img {
        width: 85%;
        height: 12em;
        border-radius: 50%;
    }
    .team_div .containee {
        width: 93%;
    }
    .row > .col-sm-6 {
        padding-left: 22px;
        padding-right: 22px;
    }
    nav > .navbar-collapse{
        flex-grow:0.5;
    }

}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.similar_posts_container
	{

	}
	.similar_post
	{
		display: none;
	}
	.home_slider_item_title a
	{
		font-size: 28px;
	}
	.home_slider_content
	{
		max-width: 360px;
	}
	.home_slider_next_container
	{
		left: auto;
		right: 0;
	}
	.home_slider_nav_container
	{
		left: auto;
		right: 305px;
	}
	.home_slider_next
	{
		width: 375px;
	}
	.home_slider_next_link
	{
		font-size: 20px;
	}
	.main_nav
	{
		display: none;
	}
	
	.hamburger
	{
		display: block;
	}
	.sidebar
	{
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 100px;
        padding-top: 83px;
	}
	.sidebar_title_container
	{
		padding-bottom: 0px;
	}
	.sidebar_slider_nav
	{
		position: absolute;
	    top: 5px;
	    right: 0;
	    left: auto;
	}
	.sidebar_background
	{
		width: 100%;
	}
	.side_post_image div
	{
		width: 70px;
		height: 70px;
	}
	.subscribe
	{
		padding-bottom: 60px;
	}
	.subscribe_background
	{
		width: 100%;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	
}

/************
9. 768px
************/

@media only screen and (max-width: 768px) {
    .section_tags ul li {
        display: none;
    }

        .section_tags ul li:nth-child(-n+4) {
            display: none !important;
        }

        .section_tags ul li:nth-child(-n+3) {
            display: inline-block !important;
        }

    .featured-property-half .image {
        display: none;
    }

    .container .featured-property-half div {
        width: 100%;
    }

    .featured-property-half .image {
        display: none;
    }

    .container .featured-property-half div {
        width: 100%;
    }

    .col-lg-8 .site-section-heading {
        padding: 9px;
    }

    .featured {
        width: 94%;
    }

    .container .featured {
        width: 94%;
    }

    div.containe {
        padding: 47px;
    }

        div .containe .card2 {
            margin-bottom: 25px;
        }

    div.books .carousel-inner {
        height: 358px;
    }

    .bass .imge {
        display: none;
    }

    div.eurek {
        margin-top: -45px;
    }

    .section_panel .section_panel_more > ul > li .third {
        display: block;
    }

    div.bio {
        background: none;
    }

    .team_div .containee {
        width: 95%;
    }

    div.container.site.overlay {
        padding-left: 0px;
        padding-right: 0px;
    }

    div.mainflip .frontside .card .card-body img {
        width: 100%;
        height: 10em;
    }
    .row > .col-sm-6{
        padding-left: 13px;
        padding-right: 13px;
    }
    img.book_image {
        height: 400px;
    }
}
/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.home_slider_next
	{
		width: 285px;
		height: 210px;
	}
	.home_slider_next_link
	{
		font-size: 16px;
	}
	.home_slider_nav_container
	{
		right: 215px;
		bottom: 227px;
	}
	.section_tags
	{
		display: none;
	}
	.grid
	{
		width: 100%;
	}
	.card_largest_with_image,
	.card_large_with_background,
	.card_large_with_image
	{
		width: 100%;
		/*height: 325px;*/
	}
	.card_small_no_image,
	.card_small_with_background,
	.card_small_with_image,
	.card_default_no_image,
	.card_default_with_background
	{
		width: 100%;
	}
	.videos
	{
		height: auto;
	}
	.player_container
	{
		height: 287px !important;
	}
	.playlist
	{
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		width: 100%;
		height: auto;
		padding-left: 35px;
	}
	.playlist_background
	{
		width: 100%;
	}
	.player_container
	{
		width: 100%;
	}
    .featured-property-half .image {
        display: none;
    }

    .container .featured-property-half div {
        width: 100%;
    }

    .col-lg-8 .site-section-heading {
        padding: 9px;
    }

}

/************
11. 575px
************/

@media only screen and (max-width: 575px) {
    p {
        font-size: 12px;
    }

    .menu {
        width: 100%;
        right: -100%;
        padding-right: 15px;
        padding-left: 30px;
        padding-top: 61px;
    }

    .menu_close_container {
        right: 13px;
        top: 15px;
    }

    .menu .logo {
        margin-bottom: 20px;
    }

    .menu .search {
        margin-bottom: 29px;
    }

    .header.scrolled .header_content {
        height: 60px;
    }

    .home_slider_next_container,
    .home_slider_nav_container {
        display: none;
    }

    .home_slider_content_container {
        top: 58%;
    }

    .home_slider_item_title a {
        font-size: 20px;
    }

    .featured-property-half .image {
        display: none;
    }

    .container.featured-property-half div {
        width: 100%;
    }

    .col-lg-8 .site-section-heading {
        padding: 9px;
    }

    .container .featured {
        width: 100%;
    }
    .featured .card-2 .card-heading {
        display: none;
    }
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	
}

/************
13. 479px
************/

@media only screen and (max-width: 479px) {
    div.books .carousel-inner{
        height: auto;
    }
    .card-body {
        padding-left: 15px;
        padding-right: 15px;
    }

    .top .carde {
        margin-bottom: 20px;
    }

    img#first, img#third {
        margin-top: 0px;
    }

    .featured-property-half .image {
        display: none;
    }

    .container.featured-property-half div {
        width: 100%;
    }

    .col-lg-8 .site-section-heading {
        padding: 9px;
    }

    .container .featured {
        width: 100%;
    }

    div.containe {
        padding: 32px;
    }

    .carousel-item .text-block {
        padding: 20px;
    }

    div.bio {
        width: 100%;
    }

    div.eurek {
        margin-top: -9px;
    }

    .container .featured-property-half .text {
        padding: 36px;
    }

    div.authors {
        padding-bottom: 10px;
    }

    .section_panel .section_panel_more > ul > li .all {
        display: block;
    }

    .section_panel .section_panel_more > ul > li .first {
        display: block;
    }

    .section_panel .section_panel_more > ul > li .second {
        display: block;
    }

    .section_panel .section_panel_more > ul > li .third {
        display: block;
    }

    footer.footer_big {
        display: none;
    }

    footer.footer_small {
        display: block;
    }

    div.bio {
        background: none;
    }

    div.same {
        margin: 0px;
    }

    div.eurekaa {
        margin: 0px;
    }

    .col-lg-8 div.slide {
        padding: 28px;
    }

    div.containe .imagee {
        display: none;
    }

    div.section_panel_more .more {
        display: none;
    }

    div.section_panel_more .category {
        display: block;
    }

    .team_div .containee {
        width: 88%;
    }
    div.mainflip .frontside .card .card-body img {
        width: 70%;
        height: 17em;
    }
    .post_content > .before{
        display: none;
    }
    .post_content > .after {
        display: block;
    }
    div.search_container form {
        display: block;
    }
    img.book_image {
        height: 348px;
        width: 67%;
    }
}
/************
14. 400px
************/

@media only screen and (max-width: 400px) {
    .card-body {
        padding-left: 15px;
        padding-right: 15px;
    }

    .top .carde {
        margin-bottom: 20px;
    }

    img#first, img#third {
        margin-top: 0px;
    }

    .featured-property-half .image {
        display: none;
    }

    .container .featured-property-half div {
        width: 100%;
    }

    .col-lg-8 .site-section-heading {
        padding: 9px;
    }
    .container .featured {
        width: 100%;
    }
    div.containe{
        padding: 35px;
    }
    div.mainflip .frontside .card .card-body img {
        width: 77%;
        height: 16em;
    }
}

@media only screen and (max-width: 320px) {
    div.containe {
        padding: 16px;
    }
}